# Ignore Terraform local files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup

# Ignore Ansible inventory or sensitive files
ansible/inventory

# Ignore logs or temporary files
*.log
*.bak
